* {
	box-sizing: border-box;
}
body {
	font-family: Tahoma, Verdana, sans-serif;
}
h1 {
	font-size: 175%;
	text-align: center;
} 
section {
	/*background-color: #00FFFF;*/
	float: left;
	/*padding: 5px;*/
}
div.visiblebox {
	margin: 5px;
	padding: 0px;
	border: 1px solid black;
	background-color: #999999;
}

div.titlebox {
	font-size: 125%;
	/*vertical-align: top;*/
	float: right;
	position: relative;
	top: -1px;
	right: -1px;
	padding: 5px 30px 5px 30px;
	margin: 0px;
	border: 1px solid black;
}


div#chicken {
	background-color: yellow;
}
div#beef {
	background-color: brown;
	color: white;
}
div#sushi {
	background-color: salmon;
	/*color: white;*/ 
}

p {
	clear: right;
	padding: 10px;
}
/*desktop*/
@media (min-width:  992px) {
	section {
		width: 33.3%;
	}
}
/*tablet*/
@media (min-width:  768px) and (max-width:  991px) {
	section {
		width: 50.0%;
	}
	section#last_section {
		width:  unset;
	}
}
/*mobile*/
@media (max-width: 767px) {
	section {
		width: 100.0%;
	}
}